<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Joslyn Rosbrook" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class ="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1 id="nav-name"><%= link_to "Joslyn Rosbrook", root_path %></h1>
        </li>
      </ul>
     <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "About", "#" %></li>
          <li class="divider"></li>
          <li><%= link_to "Blog", posts_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Contact Me", "#" %></li>
        </ul>
      </div>
    </nav>
  	
    <div class="columns large-8">
    	<%= yield %>
    </div>

    <% flash.each do |key, value| %>
        <div class="alert-box round <%= flash_class(key) %>">
              <%= value %>
        </div>
    <% end %>

  </body>
</html>